/*米米乐电子商城style*/

/*公共部分*/
.horizontal{
	border: 1px solid;
	width: 1024px;
	margin-top: 10px;
}
.horizontal_small{	
	border: 1px solid;
	width: 939px;
	margin-top: 20px;
}
body{
	width: 1024px;
	margin: 0 auto !important;
	padding: 0;
}
.container{
	width: 1024px;
	margin: 0 auto;
}

/*带商品搜索的头部*/
#top{
	width: 1024px;
	height: 25px;
	margin-bottom: 10px;
	padding-top: 5px;
}
#top .menu1{
	list-style: none;
	width: 600px;
	height: 20px;
	float: left;
	font-family: arial,verdana,sans-serif;
	
}
#top .menu1 li a.top_link{
	padding-right: 30px;
	float: left;
	height: 20px;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
	color:black;
}
#top .menu1 li a.top_link:hover{
	color:red;
}
#top .menu2{
	list-style: none;
	float: right; 
	height: 20px;
	width: 424px;
	font-family: arial,verdana,sans-serif;
	
}
#top .menu2 li a.top_link{
	padding-right: 30px;
	float: left;
	height: 20px;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
	color: black;
}
#top .menu2 li a.top_link:hover{
	color: red;
}
#cart_head{
	width: 1024px;
	height: 100px;
}

#cart_head .logo{
	width: 250px;
	height: 100px;
	float: left;
}
.search_key{
	width: 500px;
	height: 100px;
	float: right;
	padding-top: 30px;
}
.search_bar{
	border: 2px  solid red;
	width: 450px;
	height: 40px;
	float: right;
	margin-right: 10px;
	background-color: red;
}
.search_bar input{
	width: 343px;
	float: left;
	height: 35px;
	font-size: 20px
}
.search_bar button{
	width: 101px;
	float: right;
	height: 36px;
	background-color: red;

}
.key_item{
	width: 450px;
	height: 20px;
	float: right;
}
.key_item ul{
	list-style: none;
}
.key_item ul li{
	float: left;
}
.key_item li.keywords a{
	text-decoration: none;
	text-align: center;
	padding-right: 5px;
	font-size: 5px;
	color: black;
}
.key_item li.keywords a:hover{
	color: red;
}
/*尾部*/
#footer{
	width: 1024px;
	height: 100px;
	text-align: center;
	margin-top: 20px;

}
#footer .links{
	text-decoration: none;
}
#footer .copyright{
	margin-top: 10px;
	text-align: center;
}
/*注册登录找回密码部分*/
.login_head{
	width: 1024px;
	height: 100px;
	line-height: 100px;
	text-align: left;

}
.login_head img{
	float: left;
}
.login_head span{
	font-size: 30px;
}
/*登录界面*/
div{
	text-align: center;
}
div .clear{
	clear: both;
}
#wrap_login{
	height: 660px;
	width: 1024px;
	background-image: url(../images/壁纸1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.user_login{
	margin: auto;
	text-align: left;
	width: 330px;
	padding: 1px;
	height: 340px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top: 25%;
	left: 15%;
}
.user_login *{
	margin: 0;
	padding: 0;
	font: normal 16px;
}
.user_login h3{
	font-size: 25px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-align: center;
	background-color: #EEEEE8;
	color: red;
}
.user_login .content{ padding: 40px; }

.user_login .user-name input,.user_login .user-psw input{
	margin-bottom: 25px;
	width: 250px;
	height: 30px;
	font-size: 20px;
}
#forget-psw{
	float: right;
	margin-bottom: 20px;

}
#reg-in-login{
	float: right;
	margin-top: 20px;

}
.user_login a{
	text-decoration: none;
	font-size: 15px;
}
.user_login a:hover{
	color: red;

}
.user_login .btns{ text-align: center; }
.user_login .btns button{
	height: 30px;
	width: 250px;
	cursor: pointer;
	font-size: 22px;
	background-color: red;
	color: white;
}
/*注册*/
#wrap_reg{
	height: 660px;
	width: 1024px;
	background-image: url(../images/壁纸1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.user_reg{
	margin: auto;
	text-align: left;
	width: 330px;
	padding: 2px;
	height: 500px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top: 20%;
	left: 15%;
}
.user_reg *{
	margin: 0;
	padding: 0;
	font: normal 16px;
}
.user_reg h3{
	font-size: 25px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-align: center;
	background-color: #EEEEE8;
	color: red;
}
.user_reg .content{ padding: 40px; }

.user_reg .user-name input,.user_reg .user-mobile input,.user_reg .user-psw input{
	margin-bottom: 25px;
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.user_reg .validate input{
	float: left;
	width: 130px;
	height: 30px;
	font-size: 20px;
	margin-bottom: 25px;
}
.user_reg .check input{
	
	margin-bottom: 25px;
}
.user_reg .validate .get-validate{
	float: right;
	height: 33px;
	width: 110px;
	cursor: pointer;
	font-size: 20px;
	color: black;
	background-color: #B8B8B8;
	margin-bottom: 25px;
}
.user_reg .btns button{
	height: 30px;
	width: 250px;
	cursor: pointer;
	font-size: 22px;
	background-color: red;
	color: white;
}

/*找回密码*/
#wrap_findpw{
	height: 660px;
	width: 1024px;
	background-image: url(../images/壁纸1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.user_findpw{
	margin: auto;
	text-align: left;
	width: 330px;
	padding: 2px;
	height: 400px;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top: 20%;
	left: 15%;
}
.user_findpw *{
	margin: 0;
	padding: 0;
	font: normal 16px;
}
.user_findpw h3{
	font-size: 25px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-align: center;
	background-color: #EEEEE8;
	color: red;
}
.user_findpw .content{ padding: 40px; }

.user_findpw .user-mobile input,.user_findpw .user-psw input{
	margin-bottom: 25px;
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.user_findpw .validate input{
	float: left;
	width: 130px;
	height: 30px;
	font-size: 20px;
	margin-bottom: 25px;
}

.user_findpw .validate .get-validate{
	float: right;
	height: 33px;
	width: 110px;
	cursor: pointer;
	font-size: 20px;
	color: black;
	background-color: #B8B8B8;
	margin-bottom: 25px;
}

.user_findpw .btns button{
	height: 30px;
	width: 100px;
	cursor: pointer;
	font-size: 22px;
	background-color: red;
	color: white;
}
/*购物车*/

.cart_item{
	width: 1024px;
	height: 30px;
	font-size: 25px;
	background-color: red;
}
.cart_item a{
	text-decoration: none;
	float: left;
	color: black;
}
.cart_item a:hover{
	color:white;
}
/*商品简介*/
.info_wrap{
	width: 1024px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
}
.info_wrap .info_pic{
	width: 400px;
	height: 390px;
	float: left;
	margin-left: 0px;
	margin-top: 10px;

	position: absolute;
}
.info_wrap .info_pic img{
	height: 380px;
	width: 380px;
}
.info_wrap .basic_info{
	height: 380px;
	width: 560px;
	float: right;
	text-align: left;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 20px;
}
.info_wrap .basic_info .sku_name{
	font-size: 18px;
	text-align: left;
}
.info_wrap .basic_info .price,.info_wrap .basic_info .send_address,.info_wrap .basic_info .goods_attri{
	text-align: left;
}
.info_wrap .basic_info .select_num{
	width: 560px;
	height: 30px;
}
.info_wrap .basic_info .select_num .info_button{
	width: 400px;
	height: 30px;
	float: right;
}
.info_wrap .basic_info .select_num .info_button button{
	color: white;
	background-color: red;
	margin-left: 10px;
}
.info_menu{
	width: 1024px;
	height: 40px;
	border: 1px solid;
	background-color: white;
	margin-top: 15px;
	font-size: 20px;
}
.info_menu ul{
	list-style: none;


}
.info_menu ul li.choice{
	display: block;
	float: left;/*是让列表水平的关键*/
	position: relative;
}
.info_menu ul li a.choice_link{
	display: block;
	color: black;
	float: left;
	height: 40px;
	line-height: 40px;
	text-decoration: none;

	padding: 0 30px 0 30px;
	cursor: pointer;
}
.info_menu ul li a.choice_link:hover{
	color: red;
}
.info_menu ul li a.choice_link:visited{
	background-color: red;
}
.goods_detail{
	width: 960px;
	margin:30px 10px 0 10px;
}
.goods_detail img{
	width: 800px;
}
/*客服*/
.customser_chat{
	width: 900px;
	height: 1000px;
	border: 1px solid;
	margin: 20px 62px 0 62px;
}
.customser_chat .service_speak{
	text-align: left;
	font-size: 2rem;
}
.send_meg{
	width: 900px;
	height: 50px;
	border: 1px solid;
	margin-left: 62px;
	margin-bottom: 20px;
}
.send_meg form{
	height: 40px;
	padding: 5px;
	padding-right: 30px;
	float: right;
}
.send_meg form input.text{
	height: 35px;
	width: 250px;
}
.send_meg form input.submit{
	height: 35px;
	width: 50px;
}
/*确认订单*/
.confirm_order_title{
	width: 1024px;
	font-size: 20px;
	margin-left: 15px;
	padding-left: 15px;
	text-align: left;
}
.order_info{
	width: 960px;
	border: 1px solid;
	margin: 15px 32px 0 32px;
	font-size: 15px;
}
.order_info .address,.order_info .pay_method,.order_info .deliver_method,.order_info .goods_simple_info{
	width: 900px;
	margin:10px 20px 10px 20px;
}
.order_info .info_new{
	width: 900px;
	height: 30px;
	padding-top: 10px;
}
.order_info .address  .info_new .receive_info{
	font-size: 18px;
	float: left;
	padding-left: 20px;
}
.order_info .address  .info_new .new_address a{
	font-size: 18px;
	float: right;
	padding-right: 20px;
}
.order_info .address .select_address{
	width: 820px;
	border: 1px solid;
	margin: 10px 40px 0 40px;
	text-align: left;
	padding: 10px 0 10px 30px;
}
.order_info .address .select_address .single_address{
	
}
.order_info .address .select_address .single_address span{

}
.order_info .pay_method .pay_info,.order_info .deliver_method .deliver_info,.order_info .goods_simple_info .goods_information{
	font-size: 18px;
	text-align: left;
	margin-bottom: 10px;
}
.order_info .pay_method .pay_method_item,.order_info .deliver_method .deliver_method_item{
	height: 30px;
	width:800px;
	margin:0 50px;
	text-align: left;
}
.order_info .goods_simple_info .goods_item{
	height: 100px;
}
.order_info .pay_num{
	font-size: 18px;
	width: 700px;
	margin: 10px 10px;
	text-align: right;
	margin-bottom: 10px;
}
.order_info .submit_order{
	width: 900px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: right;
}
.order_info .submit_order button{
	width: 100px;
	height: 30px;
	font-size: 20px;
	background-color: red;
}
/*商品评论*/
.goods_comment{
	width: 1024px;
	height: 40px;
	line-height: 40px;
	border: 1px solid grey;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding-left: 20px;

}
.comment_frame{
	width: 1024px;
	height: 150px;
}
.comment_frame .comment_percent{
	width: 150px;
	height: 150px;
	padding: 30px 10px 30px 10px;
	float: left;
}
.comment_frame .comment_percent .percent-con{
	color: red;
	font-size: 35px;
}
.comment_frame .comment_percent .percent-con span{
	font-size: 18px;
}
.comment_frame .character{
	width: 830px;
	height: 150px;
	float: right;
	padding:20px 70px 20px 10px;
	text-align: left;
	line-height: 30px;
}
.comment_frame .character span.tag-1{
	border: 1px solid black;
	margin-right: 20px;
}
.comment_num{
	height: 20px;
	width: 1024px;
	line-height: 20px;
}
.comment_num .filter-list{
	list-style: none;
	height: 20px;
}
.comment_num .filter-list li.comment-cur-sku{
	float: left;
	margin-right: 20px;
}
.comment_num .filter-list li.comment-cur-sku a{
	text-decoration: none;
	color: black;
}
.comment_num .filter-list li.comment-cur-sku a:hover{
	color: red;
}
.tab-con{
	width: 1024px;
	margin-top: 10px;
}
.tab-con .single-comment{
	width: 1024px;
	border-bottom: 1px solid grey;
}
.tab-con .single-comment .user-info{
	width: 200px;
	height: 250px;
	padding-top: 30px;
	padding-left: 40px;
	text-align: left; 
	float: left;
}
.tab-con .single-comment .user-info img{
	width: 30px;
	height: 30px;
	float: left;
}
.tab-con .single-comment .user-comment{
	width: 780px;
	height: 250px;
	text-align: left;
}
.tab-con .single-comment .user-comment .five-star{
	width: 780px;
	height: 30px;
}
.tab-con .single-comment .user-comment p{

}
.tab-con .single-comment .user-comment .pic_list{
	width: 780px;
	height: 50px;
	text-align: left;
}
.tab-con .single-comment .user-comment .pic_list img{
	width: 50px;
	height: 50px;
	margin-right: 5px;
}
.tab-con .single-comment .user-comment .bought_info{
	width: 780px;
	height: 20px;
	text-align: left;
	margin-top: 10px;
	color: grey;
}
.tab-con .single-comment .user-comment .bought_info span{
	margin-right: 10px;
}
.tab-con .single-comment .user-comment .add-comment{
	width: 780px;
	height: 20px;
	text-align: left;
	margin-top: 10px;
}
.tab-con .single-comment .user-comment .add-comment .append-time{
	font-size: 12px;
	text-align: left;
	color: grey;
}
