@CHARSET "UTF-8";
body {
	margin: 0px;
	padding: 0px;
	background-color: white;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width: 1024px;
	border: 1px solid black;
	text-align: center;
}

#top{
	width:1022px;
	height:30px;
	font-size:16px;
	font-weight:bold;
}

#top-left{
	float:left;	
	margin-left:10px;
}

#top-right{
	float:right;
	margin-right:20px;
}

#head{
  	width:1024px;
  	height:100px;
}

#head-left{
	width:250px;
	height:100px; 
	margin-top:10px;
	margin-left:-200px;
	float:left;
}

#head-left img{
	width:100%;
	height:100%;
	
}

#head-right{
	width: 500px;
	height: 90px;
	margin-right:4px;
	float: right;
}

#search {
	width: 500px;
	height: 44px;
	font-size: 30px;
	border: 2px solid red;
}

#searchtext {
	width: 400px;
	height: 44px;
	color:#C0C0C0;
	font-size:25px;
	float: left;
}

#button {
	width: 100px;
	height: 44px;
	float:right;
	background-color: red;
}

#type {
	position: relative;
	width: 500px;
	height: 40px;
	float: left;
	font-size: 15px;
}

.typeitem {
	position: relative;
	float: left;
	heigth: 20px;
	line-heigth: 20px;
	margin-right: 20px;
}


#line{
	width:1024px;
	height:30px;
	margin-top:10px;
	background-color:red;
	font-size:20px;
	font-weight:bold;
}

#title-tip{
	margin-left:-780px;
}

.li-style{
	line-heigth:20px;
	float:left;
}

a{
	text-decoration:none;
}

ul li{
	list-style:none;
}

#item-type-style {
	list-style: none;
}

#detail {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	width:1014px;
	height: 500px;
	font-size: 20px;
}
#detail textarea{
	font-size:22px;
	width:800px;
	height:500px;
}
#topicbody {
	width: 1022px;
	height: auto;
}

.tip-title {
	text-align: center;
	margin-top: 250px;
}

.alltopic {
	margin-top: 10px;
	text-align:center;
	width:1024px;
}

.alltopic div {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

#sub {
	background-color: yellow;
}

a {
	text-decoration: none;
	cursor: pointer;
}